<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>KnowHassles-Admin</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="favicon_16.ico" />
  <link rel="bookmark" href="favicon_16.ico" />
  <!-- site css -->
  <link rel="stylesheet" href="/static/dist/css/site.min.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic"
    rel="stylesheet" type="text/css">
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
  <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  <script type="text/javascript" src="/static/dist/js/site.min.js"></script>

  <!-- custom js -->
  <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/static/js/site.js"></script>
  <style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #303641;
      color: #C1C3C6
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="#intro">
          <img src="https://khedapt.com/img/logo.png" alt="" title="" style="max-width:140px">
        </a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <br>
  <br>
  <!--footer-->
  <div class="site-footer login-footer">
    <div class="container">
      <div class="copyright clearfix text-center">
        <p>Congratulation! you've successfully completed the verification process.</p>
        <p>
          <b>{{message}}</b>
        </p>
      </div>
    </div>
  </div>
</body>

</html>