<html>

<head>

    {% include "site_scripts.html" %}
    <script type="text/javascript">
        window.issues = [];
        window.interests = [];
    </script>
</head>

<body>
    <!--nav-->
    <nav role="navigation" class="navbar navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">KhowHassles-Admin</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Account
                            <b class="caret"></b>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <li class="dropdown-header">Setting</li>
                        </ul>
                    </li>
                    <li class="active">
                        <a id="logout-anchor" href="#">Logout</a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">


        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
                {% include "navs_container.html" %}
            </div>
            <div class="col-xs-12 col-sm-9 content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="javascript:void(0);" class="toggle-sidebar">
                                <span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span>
                            </a> issues</h3>
                    </div>
                    <div class="panel-body">
                        <div class="content-row">
                            <h2 class="content-row-title"> issues
                            </h2>

                            <div class="row">

                                {% if issues|length > 0 %}
                                <div class="col-md-12">
                                    <table class="table" id="issues-table">
                                        <thead>
                                            <tr class="info" data-search-term="abcdefghifjlmnopqrstuiwxyz">
                                                <td></td>
                                                <td>Student Name</td>
                                                <td>Mentor Name</td>
                                                <td>Issue</td>
                                                <td>Created</td>
                                                <td>Issue Resolved</td>
                                                <td>Remarks</td>
                                                <td>Remove Hired Mentor</td </tr>
                                        </thead>
                                        <tbody>
                                            {% for issue in issues %}
                                            <tr class="danger" data-search-term="{{issue.student_name}}{{issue.buddy_name}}">
                                                <td>{{loop.index}}</td>
                                                <td>
                                                    {{issue.student_name}}
                                                </td>
                                                <td>
                                                    {{issue.buddy_name}}
                                                </td>
                                                <td>
                                                    {{issue.issue}}
                                                </td>
                                                <td>
                                                    <script>
                                                        document.write(
                                                            moment({{ issue.created['$date'] }}).format("MMM DD, YYYY HH:mm A")
                                                        );
                                                    </script>
                                                </td>
                                                <td>
                                                    <label class="switch issue-resolved-status">
                                                        {% if issue.issue_resolved %}
                                                        <input type="checkbox" checked="checked" data-id="{{issue._id['$oid']}}" disabled="disabled"> {% else %}
                                                        <input type="checkbox" data-id="{{issue._id['$oid']}}"> {% endif %}
                                                        <span class="slider round"></span>
                                                    </label>
                                                </td>
                                                <td class="remark-text" data-id="{{issue._id['$oid']}}">
                                                    {{issue.remarks}}
                                                </td>
                                                <td>
                                                    <label class="switch removed-hired-buddy-status">
                                                        {% if issue.remove_hired_buddy %}
                                                        <input type="checkbox" checked="checked" data-id="{{issue._id['$oid']}}" disabled="disabled"> {% else %}
                                                        <input type="checkbox" data-id="{{issue._id['$oid']}}"> {% endif %}
                                                        <span class="slider round"></span>
                                                    </label>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                {% else %}
                                <div class="col-md-12 alert alert-warning">
                                    <p>No Reported Issues found.</p>
                                </div>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                    <!-- panel body -->
                </div>
            </div>
            <!-- content -->

        </div>
    </div>

</body>

<script type="text/javascript">

    $(document).ready(function () {

        window.setTimeout(function () {
            $('#issues-table').DataTable({});
        }, 1000);

        $('#upload-issue-btn').click(function () {

            $("#fileUploadMessage").html("Loading file....");

            var form_data = new FormData($('#issue-bulk-form')[0]);
            $.ajax({
                type: 'POST',
                url: '/issue/upload',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
                },
                success: function (data) {
                    console.log('Success!');
                    if (data['status'] == true) {
                        $("#fileUploadMessage").html("File Uploaded...[" + data.filename + "]");
                        window.current_file_path = data.filepath;
                        $("#post-upload").removeClass("hidden");
                    } else {
                        $("#fileUploadMessage").html("Upload failed...");
                        $("#post-upload").addClass("hidden");
                    }
                },
                failure: function (data) {
                    console.log('Success!');
                    $("#fileUploadMessage").html("Upload failed...");
                }
            });
        });

        // update issue resolved status
        $(".issue-resolved-status [type='checkbox']").click(function () {

            var selected_element = this;

            if (selected_element.checked) {
                swal({
                    title: 'Add a remark',
                    input: 'text',
                    inputPlaceholder: 'Add a remark here',
                    showCancelButton: true,
                    allowOutsideClick: false,
                }).then((result) => {
                    if (result.dismiss === swal.DismissReason.cancel) {
                        selected_element.checked = false;
                    } else {
                        var request_data = {
                            issue_id: selected_element.getAttribute("data-id"),
                            remarks: String(result.value),
                            issue_resolved: true
                        }

                        // console.log(result);
                        $.ajax({
                            type: 'POST',
                            url: '/admin/issue',
                            data: JSON.stringify(request_data),
                            contentType: "application/json",
                            cache: false,
                            processData: false,
                            async: false,
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
                            },
                            success: function (response) {
                                // console.log(response);
                                // console.log('Success!');
                                if (response.status) {

                                    swal(
                                        'Issue resolved marked',
                                        "",
                                        'success'
                                    )
                                    $(selected_element).attr("disabled", "disabled");
                                } else {
                                    swal(
                                        'Failed',
                                        'could not update status',
                                        'error'
                                    )
                                    selected_element.checked = false;
                                }
                            },
                            failure: function (data) {
                                console.log('Failure!');
                            }
                        });
                    }
                })
            }
        });

        // remove hired buddy
        $(".removed-hired-buddy-status [type='checkbox']").click(function () {

            var selected_element = this;

            if (selected_element.checked) {
                swal({
                    title: 'Are you Sure',
                    // input: 'text',
                    // inputPlaceholder: 'Add a remark here',
                    showCancelButton: true,
                    allowOutsideClick: false,
                }).then((result) => {
                    if (result.dismiss === swal.DismissReason.cancel) {
                        selected_element.checked = false;
                    } else {
                        var request_data = {
                            issue_id: selected_element.getAttribute("data-id"),
                            remove_hired_buddy: true
                        }

                        console.log(request_data)

                        // console.log(result);
                        $.ajax({
                            type: 'POST',
                            url: '/admin/issue',
                            data: JSON.stringify(request_data),
                            contentType: "application/json",
                            cache: false,
                            processData: false,
                            async: false,
                            beforeSend: function (xhr) {
                                xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
                            },
                            success: function (response) {
                                // console.log(response);
                                // console.log('Success!');
                                if (response.status) {

                                    swal(
                                        'Removed hired Mentor',
                                        "",
                                        'success'
                                    )
                                    $(selected_element).attr("disabled", "disabled");

                                } else {
                                    swal(
                                        'Failed',
                                        'could not update status',
                                        'error'
                                    )
                                    selected_element.checked = false;
                                }
                            },
                            failure: function (data) {
                                console.log('Failure!');
                            }
                        });
                    }
                })
            }

        });

    });

</script>

</html>