<ul class="list-group panel">
  <li class="list-group-item">
    <i class="glyphicon glyphicon-align-justify"></i>
    <b>Navigation</b>
  </li>
  <!-- <li class="list-group-item"><input type="text" class="form-control search-query" placeholder="Search Something"></li> -->
  <li class="list-group-item">
    <a href="/admin/dashboard">
      <i class="glyphicon glyphicon-home"></i>Dashboard </a>
  </li>
  <li class="list-group-item">
    <a href="/admin/dashboard/student">
      <i class="fa fa-users"></i>Students </a>
  </li>
  <li class="list-group-item">
    <a href="/admin/dashboard/buddy">
      <i class="fa fa-users"></i>Mentors </a>
  </li>
  <!-- packages and services -->
  <li class="list-group-item">
    <a href="/admin/dashboard/feed">
      <i class="glyphicon glyphicon-comment"></i>Feeds </a>
  </li>
  <li class="list-group-item">
    <a href="#" onclick="page_not_implemented_dialog()">
      <i class="fa fa-calendar"></i>Events </a>
  </li>
  <li class="list-group-item">
    <a href="#" onclick="page_not_implemented_dialog()">
      <i class="fa fa-comments"></i>Chats </a>
  </li>
  <li class="list-group-item">
    <a href="/admin/dashboard/transaction">
      <i class="fa fa-credit-card"></i>Transactions </a>
  </li>
  <li class="list-group-item">
    <a href="/admin/dashboard/issue">
      <i class="fa fa fa-warning"></i>Reported Issues </a>
  </li>
  <!-- <li class=" list-group-item ">
    <a href="#">
      <i class="glyphicon glyphicon-question-sign "></i>Questions </a>
  </li> -->
</ul>