<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>KhowHassles</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon_16.ico" />
    <link rel="bookmark" href="favicon_16.ico" />
    <!-- site css -->
    <link rel="stylesheet" href="/static/dist/css/site.min.css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic"
        rel="stylesheet" type="text/css">
    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
    <script type="text/javascript" src="/static/dist/js/site.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/site.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="/static/pickadate/themes/classic.css">
    <link rel="stylesheet" type="text/css" href="/static/pickadate/themes/classic.date.css">
    <link rel="stylesheet" type="text/css" href="/static/pickadate/themes/classic.time.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/pickadate/themes/rtl.css"> -->

    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/js/tether.min.js"></script>
    <script type="text/javascript" src="/static/js/moment.js"></script>
    <script type="text/javascript" src="/static/js/site.js"></script>
    <script type="text/javascript" src="/static/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/js/swal2.js"></script>
    <script type="text/javascript" src="/static/js/mustache.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="/static/pickadate/picker.js"></script>
    <script type="text/javascript" src="/static/pickadate/picker.date.js"></script>
    <script type="text/javascript" src="/static/pickadate/picker.time.js"></script>


    <style>
        .payment-Failed,
        .payment-Error {
            color: darkred;
            font-weight: bold;
        }

        .payment-Success {
            color: green;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <!--nav-->
    <nav role="navigation" class="navbar navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">


            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!--header-->
    <div class="container-fluid">
        <!--documents-->
        <div class="row row-offcanvas row-offcanvas-left"></div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title text-center">
                        Payment Status -
                        <span class="payment-{{data.payment_status}}">{{data.payment_status}}</span>
                    </p>
                </div>
                <div class="panel-body">
                    <div class="">
                        <p class="content-row-title text-center">
                            {{data.message}}
                        </p>

                        <div class="row">

                        </div>
                    </div>

                </div>
                <!-- panel body -->
            </div>
        </div>
        <!-- content -->
    </div>
    </div>

</body>

</html>