<html>

<head>

	{% include "site_scripts.html" %}
	<script type="text/javascript">
		window.students = [];
		window.interests = [];
	</script>
</head>

<body>
	<!--nav-->
	<nav role="navigation" class="navbar navbar-custom">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button data-target="#bs-content-row-navbar-collapse-5" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#" class="navbar-brand">KhowHassles-Admin</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div id="bs-content-row-navbar-collapse-5" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a data-toggle="dropdown" class="dropdown-toggle" href="#">Account
							<b class="caret"></b>
						</a>
						<ul role="menu" class="dropdown-menu">
							<li class="dropdown-header">Setting</li>
						</ul>
					</li>
					<li class="active">
						<a id="logout-anchor" href="#">Logout</a>
					</li>
				</ul>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container-fluid">


		<div class="row row-offcanvas row-offcanvas-left">
			<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
				{% include "navs_container.html" %}
			</div>
			<div class="col-xs-12 col-sm-9 content">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a href="javascript:void(0);" class="toggle-sidebar">
								<span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span>
							</a> Students</h3>
					</div>
					<div class="panel-body">
						<div class="content-row">
							<h2 class="content-row-title"> Students
							</h2>

							<div class="row">
								<!-- <div class="text-center col-md-12">
                      		<div class="pull-right">
                      			<ul class="nav nav-pills text-uppercase">
                  				<li> 
									<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addStudentModal">Add Student</button>
							 	</li>
							 	<li> 
									<button type="button" class="btn btn-info" data-toggle="modal" data-target="#bulkUpload">Bulk Upload Students</button>
							 	</li>
								
							</ul>
                      		</div>
						</div> -->
								<!-- <div class="col-md-12" style="padding:20px;">
							&nbsp;
						</div> -->

								{% if students|length > 0 %}
								<div class="col-md-12">
									<table class="table" id="students-table">
										<thead>
											<tr class="info" data-search-term="abcdefghifjlmnopqrstuiwxyz">
												<td></td>
												<td>Name</td>
												<td>Email</td>
												<td>Contact</td>
												<td>Address</td>
												<td>Origin</td>
												<td>Creation</td>
												<td>Active</td>
												<td>Action</td>
											</tr>
										</thead>
										<tbody>
											{% for student in students %}
											<tr class="danger" data-search-term="{{student.first_name}}{{student.last_name}}">
												<td>{{loop.index}}</td>
												<td>
													{{student.first_name}} {{student.last_name}}
												</td>
												<td>
													{{student.email}}
												</td>
												<td>
													{{student.contact}}
												</td>
												<td>
													{{student.home_address}}
												</td>
												<td>
													{{student.origin}}
												</td>
												<td>
													<script>
														document.write(
															moment({{ student.created['$date'] }}).format("MMM DD, YYYY HH:mm A")
														);
													</script>
												</td>
												<td>
													<label class="switch sudent-active">
														{% if student.is_active %}
														<input type="checkbox" checked="checked" data-id="{{student._id['$oid']}}"> {% else %}
														<input type="checkbox" data-id="{{student._id['$oid']}}"> {% endif %}
														<span class="slider round"></span>
													</label>
												</td>
												<td>
													<a href="#" data-toggle="modal" class="edit-student-anchor" data-target="#editStudentModal" data-id="{{student._id['$oid']}}">View</a>
													<!-- <a href="#" data-toggle="modal" class="edit-student-anchor" data-target="#editStudentModal" data-id="{{student._id['$oid']}}">Edit</a> -->
												</td>
											</tr>
											<script type="text/javascript">
												window.students.push({
													"id": "{{student._id['$oid']}}",
													"image": "{{student.image}}",
													"firstname": "{{student.first_name}}",
													"lastname": "{{student.last_name}}",
													"username": "{{student.username}}",
													"country_code": "{{student.country_code}}",
													"contact": "{{student.contact}}",
													"email": "{{student.email}}",
													"gender": "{{student.sex}}",
													"about": "{{student.about}}",
													"mother_tongue": "{{student.mother_tongue}}",
													"languages": "{{student.languages|join(',')}}",
													"address": "{{student.home_address}}",
													"education": "{{student.education}}",
													"employment": "{{student.employment}}",
													"origin": "{{student.origin}}",
													"city": "{{student.city}}",
													"country": "{{student.country}}",
													"arrival_city": "{{student.arrival_city}}",
													"arrival_province": "{{student.arrival_province}}",
													"arrival_country": "{{student.arrival_country}}",
													"travelling_month": "{{student.travelling_month}}",
													"travelling_year": "{{student.travelling_year}}",
													"arrival_dt": "{{student.created['$date']}}",
													"arrival_terminal": "{{student.arrival_terminal}}",
													"departure_dt": "{{student.departure_dt['$date']}}",
													"departure_terminal": "{{student.departure_terminal}}",
													// "interests" : interests,
												});
												interests = [];
											</script> {% endfor %}
										</tbody>
									</table>
								</div>

								{% else %}
								<div class="col-md-12 alert alert-warning">
									<p>No Students Registered yet.</p>
								</div>
								{% endif %}

							</div>
						</div>

					</div>
					<!-- panel body -->
				</div>
			</div>
			<!-- content -->

		</div>
	</div>


	<!-- Add Student Modal content-->
	<!-- <div id="addStudentModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Add New Student</h4>
        </div>
        <div class="modal-body">
          <form action="" id="add-student-form">
			<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

				<div class="form-group row">
					<label for="emailInput" class="col-sm-2 col-form-label">Select Group</label>
					<div class="col-sm-10">
						<select name="groupId" class="form-control">
							{% for group in groups %}
								<option data-group-id="{{group._id}}" value="{{group._id}}" data-group-title="{{group.title}}">{{group.title}}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="emailInput" class="col-sm-2 col-form-label">First Name</label>
					<div class="col-sm-10">
						<input type="text" value="" class="form-control" name="firstname" id="" placeholder="First Name">
					</div>
				</div>
				<div class="form-group row">
					<label for="emailInput" class="col-sm-2 col-form-label">Last Name</label>
					<div class="col-sm-10">
						<input type="text" value="" class="form-control" name="lastname" id="" placeholder="Last Name">
					</div>
				</div>
				<div class="form-group row">
					<label for="emailInput" class="col-sm-2 col-form-label">Contact</label>
					<div class="col-sm-10">
						<input type="text" value="" class="form-control" name="contact" id="" placeholder="Contact">
					</div>
				</div>
				<div class="form-group row">
					<label for="emailInput" class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-10">
						<input type="text" value="" class="form-control" name="email" id="" placeholder="Email">
					</div>
				</div>

				<div class="form-group row">
					<label for="emailInput" class="col-sm-2 col-form-label">Gender</label>
					<div class="col-sm-10">
						<div class="form-group">
	                      <select class="form-control" id="sel1" name="gender">
	                      	<option selected>Male</option>
	                        <option>Female</option>
	                      </select>
	                    </div>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="emailInput" class="col-sm-2 col-form-label">Address</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" value="" name="address" id="" placeholder="Address">
					</div>
				</div>

				<div class="form-group row">
					<label for="emailInput" class="col-sm-2 col-form-label">Address</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" value="" name="address" id="" placeholder="Address">
					</div>
				</div>

				<div class="form-group row">
					<label for="emailInput" class="col-sm-2 col-form-label">Pincode</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" value="" name="pincode" id="" placeholder="Pincode">
					</div>
				</div>

				<div class="form-group row">
					<label for="emailInput" class="col-sm-2 col-form-label">Interests</label>
					<div class="col-sm-12">
						<div class="form-group">
	                      <label for="sel1">Select Interests: (Press Ctrl to select multiple)</label>
	                      <select multiple class="form-control" id="sel1" name="interests">
	                      	<option value="general" selected>General</option>
	                        <option value="science">Science</option>
	                        <option value="sports">Sports </option>
	                        <option value="health">Health</option>
	                        <option value="life">Life</option>
	                      </select>
	                    </div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-10">
						<div class="pull-right">
							<button type="button" class="btn btn-info">Add Children</button>
						</div>
					</div>
				</div>

			</div>
		</form>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-info" id="add-student-btn">Add Student</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div> -->


	<!-- Edit Student Modal content-->
	<div id="editStudentModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center" id="modal-head-text">Edit Student</h4>
				</div>
				<div class="modal-body">
					<form action="" id="edit-student-form">
						<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

							<div style="text-align:center;margin-bottom: 10px;">
								<img id="profile-image" src="" alt="User Image">
								<button class="btn btn-primary" id="profile-img-change">Change</button>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">First Name</label>
								<div class="col-sm-9">
									<input type="text" value="" class="form-control" name="edit-firstname" id="" placeholder="First Name">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Last Name</label>
								<div class="col-sm-9">
									<input type="text" value="" class="form-control" name="edit-lastname" id="" placeholder="Last Name">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Username</label>
								<div class="col-sm-9">
									<input type="text" value="" class="form-control" name="edit-username" id="" placeholder="Username">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Email</label>
								<div class="col-sm-9">
									<input type="text" value="" class="form-control" name="edit-email" id="" placeholder="Email">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Contact</label>
								<div class="col-sm-9">
									<input type="text" value="" class="form-control" name="edit-contact" id="" placeholder="Contact">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Address</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-address" id="" placeholder="Address">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Date of Birth</label>
								<div class="col-sm-9">
									<input type="text" id="dob-picker" value="" class="form-control" name="edit-dob" placeholder="Date of Birth">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Gender</label>
								<div class="col-sm-9">
									<div class="form-group">
										<select class="form-control" id="sel1" name="edit-gender">
											<option selected>Male</option>
											<option>Female</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Languages</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-languages" id="" placeholder="Languages">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Mother Tongue</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-mother_tongue" id="" placeholder="Mother Tongue">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Education</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-education" id="" placeholder="Education">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Employment</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-employment" id="" placeholder="Employment">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Origin</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-origin" id="" placeholder="Origin">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">City</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-city" id="" placeholder="City">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Country</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-country" id="" placeholder="Country">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Arrival City</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-arrival_city" id="" placeholder="Arrival City">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Arrival Province</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-arrival_province" id="" placeholder="Arrival Province">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Arrival Country</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-arrival_country" id="" placeholder="Arrival Country">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Travelling Month</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-travelling_month" id="" placeholder="Travelling Month">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Travelling Year</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-travelling_year" id="" placeholder="Travelling Year">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Arrival Date</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-arrival_dt" id="" placeholder="Arrival Date">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Arrival Terminal</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-arrival_terminal" id="" placeholder="Arrival Terminal">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Departure Date</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-departure_dt" id="" placeholder="Departure Date">
								</div>
							</div>

							<div class="form-group row">
								<label for="emailInput" class="col-sm-3 col-form-label">Departure Terminal</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" value="" name="edit-departure_terminal" id="" placeholder="Departure Terminal">
								</div>
							</div>

							<!-- <div class="form-group row">
					<label for="emailInput" class="col-sm-2 col-form-label">Interests</label>
					<div class="col-sm-12">
						<div class="form-group">
	                      <label for="sel1">Select Interests: (Press Ctrl to select multiple)</label>
	                      <select multiple class="form-control" id="sel1" name="edit-interests">
	                      	<option value="general" selected>General</option>
	                        <option value="science">Science</option>
	                        <option value="sports">Sports </option>
	                        <option value="health">Health</option>
	                        <option value="life">Life</option>
	                      </select>
	                    </div>
					</div>
				</div> -->

						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button type="button" class="btn btn-info" id="edit-student-btn">Update</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="modal-close-btn">Cancel</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Add BulkUpload Modal content-->

	<div id="bulkUpload" class="modal fade" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center">Bulk Upload Students</h4>
				</div>
				<div class="modal-body">

					<div class="form-group row">
						<label for="emailInput" class="col-sm-2 col-form-label">Select Group</label>
						<div class="col-sm-10">
							<select name="bulk-groupId" class="form-control">
								{% for group in groups %}
								<option data-bulk-group-id="{{group._id}}" value="{{group._id}}" data-bulk-group-title="{{group.title}}">{{group.title}}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<form id="student-bulk-form" enctype="multipart/form-data">
								<input type="file" name="student_file" class="form-control">
							</form>
						</div>

						<div class="col-md-6">
							<div id="fileUploadMessage"></div>
							<div class="hidden" id="post-upload">
								<div if="filename"></div>
								<button class="btn btn-danger" id="add-bulk-records">Add Bulk records</button>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer" style="text-align:left;">
					<button type="button" class="btn btn-info" id="upload-student-btn">Upload</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div id="ajaxLoader" style="display:none;"></div>

</body>

<script type="text/javascript">

	$(document).ready(function () {

		window.setTimeout(function () {
			$('#students-table').DataTable({});
		}, 1000);

		$('#upload-student-btn').click(function () {

			$("#fileUploadMessage").html("Loading file....");

			var form_data = new FormData($('#student-bulk-form')[0]);
			$.ajax({
				type: 'POST',
				url: '/student/upload',
				data: form_data,
				contentType: false,
				cache: false,
				processData: false,
				async: false,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
				},
				success: function (data) {
					console.log('Success!');
					if (data['status'] == true) {
						$("#fileUploadMessage").html("File Uploaded...[" + data.filename + "]");
						window.current_file_path = data.filepath;
						$("#post-upload").removeClass("hidden");
					} else {
						$("#fileUploadMessage").html("Upload failed...");
						$("#post-upload").addClass("hidden");
					}
				},
				failure: function (data) {
					console.log('Success!');
					$("#fileUploadMessage").html("Upload failed...");
				}
			});
		});


		$('#add-bulk-records').click(function () {

			var groupId = $('[name="bulk-groupId"]').val();
			var groupTitle = $("[data-bulk-group-id='" + groupId + "']").data('bulk-group-title');

			console.log(groupId, groupTitle);

			var url = '/student/add/bulk?filepath=' + window.current_file_path + '&groupId=' + groupId + '&groupTitle=' + groupTitle

			$.ajax({
				type: 'GET',
				url: url,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
				},
				success: function (data) {
					console.log('Success!', data);
					swal({
						title: "Data Uploaded successfully",
						text: "",
						type: "success",
						showCancelButton: false,
						confirmButtonColor: "#DD6B55",
						confirmButtonText: "Okay!",
						closeOnConfirm: false
					},
						function () {
							window.location.reload();
						});
				},
				failure: function (data) {
					swal("Error", data.message, "error");
				}
			});
		});


		//update data in thee modal for edit
		$(".edit-student-anchor").click(function () {
			var id = $(this).data('id');
			// console.log("clicked",id);

			var dt_picker = {
				dob_picker: "dob",
				arrival_dt_picker: "arrival_dt",
				departure_dt_picker: "departure_dt"
			};

			// var dob_input = $("#dob-picker").pickadate();
			// var dob_picker = dob_input.pickadate('picker');

			// var arrival_dt_input = $("#")
			// $("#").set('select', 1429970887654)

			for (i = 0; i < window.students.length; i++) {
				if (id == window.students[i]['id']) {
					window.current_student = window.students[i];

					$("#profile-image").attr("src", window.location.origin + current_student.image);

					Object.keys(current_student).forEach(function (key, i) {
						$("[name='edit-" + key + "']").val(current_student[key]);
						$("[name='edit-" + key + "']").css("cursor", "text");
					});

					if ($(this).text() == "View") {
						// make all input fields readonly
						Object.keys(dt_picker).forEach(function (key) {
							$("[name='edit-" + dt_picker[key] + "']").val(
								moment(parseInt(current_student[dt_picker[key]])).format("MMM DD, YYYY")
							);
						});
						$("#edit-student-form input, #edit-student-form select").attr("disabled", "disabled");
						$("#edit-student-btn, #profile-img-change").css("display", "none");
						$("#modal-close-btn").text("Close");
						$("#modal-head-text").text("Student Details");
						$(".picker__holder").css("display", "none");

					} else {
						// remove readonly attribute
						$("#edit-student-form input, #edit-student-form select").removeAttr("disabled");
						// set date for datepicker inputs
						Object.keys(dt_picker).forEach(function (key) {
							var key_name = dt_picker[key];
							dt_picker[key] = $("[name='edit-" + dt_picker[key] + "']").pickadate(
								{
									format: "mmm dd, yyyy"
								});
							dt_picker[key] = dt_picker[key].pickadate('picker');
							dt_picker[key].set('select', parseInt(current_student[key_name]));
						});
						$(".picker__holder").css("display", "block")
						$("#edit-student-btn, #profile-img-change").css("display", "inline-block");
						$("#modal-close-btn").text("Cancel");
						$("#modal-head-text").text("Edit Student Details");
						$(".picker__input").css("cursor", "pointer");
					}

					break;
				}
			}
		});


		// activate/deactivate student
		$(".sudent-active [type='checkbox']").click(function () {
			var student_id = this.getAttribute("data-id");

			var request_data = {
				is_active: this.checked
			};

			$.ajax({
				type: 'POST',
				url: '/admin/user/' + student_id,
				data: JSON.stringify(request_data),
				contentType: "application/json",
				cache: false,
				processData: false,
				async: false,
				beforeSend: function (xhr) {
					xhr.setRequestHeader("Authorization", $.cookie("auth_token"));
				},
				success: function (response) {
					console.log(response);
					console.log('Success!');
					if (response.status) {
						console.log("S");
						// $("#fileUploadMessage").html("File Uploaded...["+data.filename+"]");	
						// window.current_file_path = data.filepath;
						// $("#post-upload").removeClass("hidden");
					} else {
						console.log("F");
						// $("#fileUploadMessage").html("Upload failed...");	
						// $("#post-upload").addClass("hidden");
					}
				},
				failure: function (data) {
					console.log('Failure!');
				}
			});
		});


	});

</script>

</html>